nav{
    background-color:#0f1111;
    height: 60px;
}
#logo{
    color:#f08804;
}
a{
    color:white;
    text-decoration:none;
    margin: 100px;
}
#button{
    background-color: #f08804;
    color:white;
}
p{
    background-color:red;
    display: inline-block;
    margin: 40px;
    padding: 20px;

}
div{
    border-style:solid;
    height:100px;
    width: 100px;
}
#div1{
    background-color:purple;
    opacity:0.5;
}
#div2{
    background-color:pink;
    opacity:0.5;
}
#div3{
    background-color:yellow;
    opacity:0.5;
}
main{
    height:850px;

}
footer{
    background-color:black;
    height: 40px;

}