nav{
    display:flex;
    justify-content: space-evenly;
    border: 1px solid black;
}
a{
    height: 50px;
    width: 100px;
    background-color:rgb(154, 243, 243);
    border: 1px solid black;
}
#div1{
    display:flex;
    height:400px;
    width:1100px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    
}
#div2{
    height:100px;
    width:100px;
    border: 2px solid black;
    font-size: 30px;
    background-color: pink;


}