.container{
    height: 100px;
    width: 100px;
    background-color: lightblue;
}
@media (max-width: 400px) {
    .container{
        background-color: green;
    }
}
@media (min-width: 300px) and (max-width: 400px) {
    .container{
        background-color: pink;
    }
}
@media (min-width: 400px) and (max-width: 600px) {
    .container{
        background-color: red;
    }
}
@media (min-width: 600px) {
    .container{
        background-color: blue;
    }
}